/* Body */

:root{
    --bg-color: rgb(255, 255, 255);
    --text-color: rgb(0, 22, 10);
    --item-bg-color: rgb(255, 143, 15);
    background-color: var(--bg-color);
    color: var(--text-color);
    width: auto;
    height: auto;
}

h1 {
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    text-align: center;
    border-bottom: 10px solid #FF900D;
    border-radius: 5px;
    display: inline-block;
}

#instrucciones{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    background-color: var(--bg-color);
    text-align: justify;
    max-width: 600px; 
}

#contactUsForm{
    font-family: "Poppins", sans-serif;
}

.error-messagetext-danger {
    color: red;
    font-size: 0.875rem; 
    margin-top: 0.25rem;
    display: block;
}


img {
    width: 100%;
    max-width: 600px;
    height: auto;
}


.div-img-card{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}


.btn-custom {
    background-color: #FF900D;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
}

.btn-custom:hover {
    background-color: #FF900D;
    transform: scale(1.1);
    border: 2px solid black;
    opacity: 0.8;
}

#Comentarios {
    resize: none;
}

/* Aqui cierra el body */

