
h1 {
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    text-align: center;
    border-bottom: 10px solid #FF900D;
    border-radius: 5px;
    display: inline-block;
}

.container{
    text-align: center;
  
}

.card{
    margin: auto;
    display: block;
}
.card-body{
    font-family: "Poppins", sans-serif;
    background-color: #FF900D;
    color: #ecf0f1;
}

.card:hover {
    scale: .95;
    box-shadow:0 0 20px #DEC54E;
}

.div-img-card{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.btn-add {
    width: 100px; 
    height: 100px; 
    font-size: 50px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0419fa;
    color: white;
    border: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s, transform 0.2s, opacity 0.3s;
}
.btn-add:hover {
    background-color: #0d05f4;
    transform: scale(1.1);
    border: 2px solid black;
    opacity: 0.8;
}

/* Estilo para el contenedor del select */
.mb-3 {
    margin-bottom: 1rem; /* Espaciado inferior */
}

/* Estilo del select */
#filterCocina {
    font-family: "Poppins", sans-serif;
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color de texto */
    padding: 10px; /* Espaciado interno */
    border: 2px solid #FF900D; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #fff; /* Fondo blanco */
    transition: border-color 0.3s; /* Transición para el borde */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Efecto al enfocar el select */
#filterCocina:focus {
    border-color: #0419fa; /* Cambia el color del borde al enfocar */
    outline: none; /* Quita el contorno por defecto */
    box-shadow: 0 0 5px rgba(4, 25, 250, 0.5); /* Sombra al enfocar */
}

/* Estilo de las opciones del select */
#filterCocina option {
    background-color: #fff; /* Fondo blanco */
    color: #333; /* Color de texto */
}

/* 
.h3{
    text-align: center;
    font-size: 30px;
    display: block;
} */

/* .row{
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
} */



/* .d-grid{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    display: inside;
    color: white;
    font-weight: bold;
    border-radius: 5px;
} */

/* 
.textareas{
    width: 300px;
    height: 200px;
    resize: vertical;
    margin-top: 20px;
} */

/*.btn-primary mt-2 {
    text-align: auto;
    background-color: #FF900D;
    font-weight: bold;
}*/