.container{
    text-align: center;
  
}

.card{
    margin: auto;
    display: block;
}

/* 
.h3{
    text-align: center;
    font-size: 30px;
    display: block;
} */

/* .row{
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
} */



/* .d-grid{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    display: inside;
    color: white;
    font-weight: bold;
    border-radius: 5px;
} */

/* 
.textareas{
    width: 300px;
    height: 200px;
    resize: vertical;
    margin-top: 20px;
} */

/* .buttons {
    text-align: center;
    margin-left: 42%;
} */


