

footer{
    position: relative; /* O 'fixed' o 'absolute', según necesites */
    bottom: 0;
    width: 100%;
    border: solid, #FF900D, 2px;
    background-color: #FF900D;
    text-align: center;
    align-items: center;
    clear: both;
    margin-top: 50px;
}


#ulc1, #ulc2, #ulc3 {
    list-style: none;
    padding: 0; 
    text-align: left;
}

li {
    margin: 10px 0; 
}

a{
    color: #ecf0f1;
    text-decoration: none;
}

h5{
    color: #ecf0f1;
    text-align: left;
}

.footer-logo {
    text-align: center; /* Centra el logo */
    margin-top: 20px; /* Espacio superior */
}

.github-logo {
    width: 40px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantiene la proporción */
    display:inline ;
}