:root{
    --bg-color: rgb(255, 255, 255);
    --text-color: rgb(0, 22, 10);
    --item-bg-color: rgb(255, 143, 15);
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100vw;
    margin: 0;
}

.container{
    background-color: var(--container-bg-color);
    height: 300px;
    text-align: center;
    min-height: 100vh;
}

.navbar-container {
    background-color: #FF900D;
}

.navbar-brand img {
    width: 120px;
}

.nav-link:hover {
    
    
    text-decoration: underline white 3px ; 
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    text-align: center;
    border-bottom: 10px solid #FF900D;
    border-radius: 5px;
    width: fit-content;
    display: inline-block;
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
}



.btn-custom {
    background-color: #FF900D;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
    margin-top: 4em;
    margin-left: 25px;
    width: 250px;
    height: 60px; 
     
}

.btn-custom:hover {
    background-color: #FF900D;
    transform: scale(1.1);
    border: 2px solid black;
    opacity: 0.8;
}


