h1{
    font-style: italic;
    font-weight: bolder ;
    border-bottom: 10px solid #FF900D;
    display: inline-block;
}

body{
    text-align: center;
}

img{
   
}

button{
    width: 150px;
    height: 40px;    
}

p{
    font-style: italic;
    font-weight: bolder ;
    text-decoration: overline;
}

#registrarse{
    margin-left: 30px;
}