/* Body */

:root{
    --bg-color: rgb(255, 255, 255);
    --text-color: rgb(0, 22, 10);
    --item-bg-color: rgb(255, 143, 15);
    background-color: var(--bg-color);
    color: var(--text-color);
    width: auto;
    height: auto;
}

h1{
    font-style: italic;
    font-weight: bolder ;
    border-bottom: 10px solid #FF900D;
    display: inline-block;
}

body{
    text-align: center;
}


button{
    width: 150px;
    height: 40px;    
}

p{
    font-style: italic;
    font-weight: bolder ;
    text-decoration: overline;
}

#registrarse{
    margin-left: 30px;
}