.navbar-container {
    background-color: #FF900D;
}

.navbar-brand img {
    width: 4em;
    height: 2em;

}

.nav-link:hover { 
    text-decoration: underline white 3px ; 
}

#btnExit{
    display:inline-block;
    background:none;
    width: 32px;
    height: 32px;
    background:url('/assets/box-arrow-right.svg' ) no-repeat;
    background-size: contain;
    border: none;
    }
    
   