.navbar-container {
    background-color: #FF900D;
}
.navbar-container .nav-link {
    color: #ecf0f1 !important;
}

.navbar-brand img {
<<<<<<< HEAD
    width: 4em;
    height: 2em;
=======
    width: 150px;
>>>>>>> racv

}

.nav-link {
    font-size: 1.5rem; /* Aumenta el tamaño de las letras en la navbar */
}

.nav-link:hover { 
    text-decoration: underline white 3px ; 
}

#btnExit{
    display:inline-block;
    background:none;
    width: 32px;
    height: 32px;
    background:url('/assets/box-arrow-right.svg' ) no-repeat;
    background-size: contain;
    border: none;
    }
    
   